/**** framework ****/
.container{
    width: 1250px;
    margin: 0 auto;
}

.container-large{
    width: 100%;
    padding: 0px 3%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*='col-']{
    flex: 0 0 auto;
}

/* xs default - mobile first behavior */
.col{
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}

.col-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}


.col-11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

    /**** utilities ****/
    /* width */
    .w-20{
        width: 20%;
    }

    .w-40{
        width: 40%;
    }

    .w-60{
        width: 60%;
    }

    .w-80{
        width: 80%;
    }

    .w-100{
        width: 100%;
    }

    /* height */
    .h-100{
        height: 100%;
    }

    /* flex box */
    .d-flex{
        display: flex;
    }

    .flex-row{
        flex-direction: row;
    }

    .flex-col{
        flex-direction: column;
    }

    .flex-content-center{
        justify-content: center;
    }

    .flex-content-between{
        justify-content: space-between;
    }

    .flex-content-between{
        justify-content: space-between;
    }

    .flex-content-end{
        justify-content: end;
    }

    .flex-content-start{
        justify-content: start;
    }

    .flex-align-center{
        align-items: center;
    }

    /* position */
    .absolute{
        position: absolute
    }

    .relative{
        position: relative
    }

/* sm - small screen */
@media all and (min-width: 576px){
    .col-sm{
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }
    
    .col-sm-1{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-sm-2{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-sm-3{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-sm-4{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-sm-5{
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-sm-6{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-sm-7{
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-sm-8{
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-sm-9{
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-sm-10{
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    
    .col-sm-11{
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-sm-12{
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

    /**** utilities ****/
    /* width */
    .w-sm-20{
        width: 20%;
    }

    .w-sm-40{
        width: 40%;
    }

    .w-sm-60{
        width: 60%;
    }

    .w-sm-80{
        width: 80%;
    }

    .w-sm-100{
        width: 100%;
    }

    /* height */
    .h-sm-100{
        height: 100%;
    }

    /* flex box */
    .d-sm-flex{
        display: flex;
    }

    .flex-sm-row{
        flex-direction: row;
    }

    .flex-sm-col{
        flex-direction: column;
    }

    .flex-sm-content-center{
        justify-content: center;
    }

    .flex-sm-content-between{
        justify-content: space-between;
    }

    .flex-sm-content-between{
        justify-content: space-between;
    }

    .flex-sm-content-end{
        justify-content: end;
    }

    .flex-sm-content-start{
        justify-content: start;
    }

    .flex-sm-align-center{
        align-items: center;
    }

    /* position */
    .absolute-sm{
        position: absolute
    }

    .relative-sm{
        position: relative
    }

/* md - medium screen */
@media all and (min-width: 768px){
    .col-md{
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }
    
    .col-md-1{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-md-2{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-md-3{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-md-4{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-md-5{
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-md-6{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-md-7{
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-md-8{
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-md-9{
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-md-10{
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    
    .col-md-11{
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-md-12{
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

    /**** utilities ****/
    /* width */
    .w-md-20{
        width: 20%;
    }

    .w-md-40{
        width: 40%;
    }

    .w-md-60{
        width: 60%;
    }

    .w-md-80{
        width: 80%;
    }

    .w-md-100{
        width: 100%;
    }

    /* height */
    .h-md-100{
        height: 100%;
    }

    /* flex box */
    .d-md-flex{
        display: flex;
    }

    .flex-md-row{
        flex-direction: row;
    }

    .flex-md-col{
        flex-direction: column;
    }

    .flex-md-content-center{
        justify-content: center;
    }

    .flex-md-content-between{
        justify-content: space-between;
    }

    .flex-md-content-between{
        justify-content: space-between;
    }

    .flex-md-content-end{
        justify-content: end;
    }

    .flex-md-content-start{
        justify-content: start;
    }

    .flex-md-align-center{
        align-items: center;
    }

    /* position */
    .absolute-md{
        position: absolute
    }

    .relative-md{
        position: relative
    }

/* lg - large screen */
@media all and (min-width: 992px){
    .col-lg{
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }
    
    .col-lg-1{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-lg-2{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-lg-3{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-lg-4{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-lg-5{
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-lg-6{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-lg-7{
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-lg-8{
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-lg-9{
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-lg-10{
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    
    .col-lg-11{
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-lg-12{
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    /**** utilities ****/
    /* width */
    .w-lg-20{
        width: 20%;
    }

    .w-lg-40{
        width: 40%;
    }

    .w-lg-60{
        width: 60%;
    }

    .w-lg-80{
        width: 80%;
    }

    .w-lg-100{
        width: 100%;
    }

    /* height */
    .h-lg-100{
        height: 100%;
    }

    /* flex box */
    .d-lg-flex{
        display: flex;
    }

    .flex-lg-row{
        flex-direction: row;
    }

    .flex-lg-col{
        flex-direction: column;
    }

    .flex-lg-content-center{
        justify-content: center;
    }

    .flex-lg-content-between{
        justify-content: space-between;
    }

    .flex-lg-content-between{
        justify-content: space-between;
    }

    .flex-lg-content-end{
        justify-content: end;
    }

    .flex-lg-content-start{
        justify-content: start;
    }

    .flex-lg-align-center{
        align-items: center;
    }

    /* position */
    .absolute-lg{
        position: absolute
    }

    .relative-lg{
        position: relative
    }
}